{% extends "common/auth/base_login.html" %}

{% block content %}

<ol class="breadcrumb breadcrumb-top-left">
    <li>Please submit your email address to receive instructions for resetting it.</li>
</ol>

<form action="" method="post" id="reset-password">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>

    <p><label style="margin-left: 16px;" for="id_email">E-mail address:</label> <input id="id_email" maxlength="254" name="email" type="email" required /> <input type="submit" id="reset-password-button" class="btn btn-primary" value="Reset password" /></p>
</form>
{% endblock %}