{% if assigned_or_available == 'assigned' %}
    <h3>Coders Assigned to Project</h3>
{% else %}
    <h3>Available Coders</h3>
{% endif %}
        <div class="table-responsive">
            <table class="table table-bordered table-hovered table-striped tablesorter">
                <thead>
                    <tr>
                        <th class="header">Coder First Name</th>
                        <th class="header">Coder Last Name</th>
                        <th class="header">Coder Username</th>
                        <th class="header">Coder Email</th>
                        <th class="header">Coder Rating</th>
                        {% if project_edit_view == 'coder' and not assigned_or_available %}
                            <th class="header">Add To Project</th>
                            {% else %}
                            <th class="header">Remove from Project</th>
                            <th class="header"></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if coder_data %}
                        {% for coder in coder_data %}
                        <tr>
                            <td>{{ coder.first_name }}</td>
                            <td>{{ coder.last_name }}</td>
                            <td>{{ coder.username }}</td>
                            <td>{{ coder.email }}</td>
                            <td>{{ coder.rating }}</td>
                            {% if project_edit_view == 'coder' and not assigned_or_available %}
                                <td>
                                    <input class='input-group' type="checkbox" name="add_to_project" value="{{ coder.id }}">
                                </td>
                                {% else %}
                                <td>
                                    <input class='input-group' type="checkbox" name="remove_from_project" value="{{ coder.id }}">
                                </td>
                                <td>
                                    <a href="{% url 'coder_app:edit_coder' coder_id=coder.id %}">
                                        <span>Edit Coder Details</span>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td><p>No Available Coders</p></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>