{% block content %}
{% url 'coder_app:add_coder' as add_coder %}

<input style="display: none;" name="project_id" value="{{ project_data.id }}" />

<h3>{{ user_account_name }} Coders</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-hovered table-striped tablesorter">
            <thead>
                <tr>
                    <th class="header">First Name</th>
                    <th class="header">Last Name</th>
                    <th class="header">Username</th>
                    <th class="header">Email</th>
                    <th class="header">Accuracy</th>
                    {% if request.path not in add_coder %}
                        <th class="header">Add/Remove Coder</th>
                    {% endif %}
                    <th class="header">Edit Coder Details</th>
                </tr>
            </thead>
            <tbody>
                {% if coder_data %}
                    {% for coder in coder_data %}
                    <tr>
                        <td>{{ coder.first_name }}</td>
                        <td>{{ coder.last_name }}</td>
                        <td>{{ coder.username }}</td>
                        <td>{{ coder.email }}</td>
                        <td>{{ coder.rating }}</td>
                        {% if request.path not in add_coder %}
                            <td style="text-align: center;">
                                <form action="{% url 'coder_app:edit_project_coders' project_data.id %}" method="post">
                                {% csrf_token %}
                                {% if coder.assigned %}
                                    <input
                                            name="remove_coder"
                                            value="Remove"
                                            type="submit"
                                            class="btn btn-warning btn-xs" />
                                {% else %}
                                    <input
                                            name="add_coder"
                                            value="Add"
                                            type="submit"
                                            class="btn btn-success btn-xs" />
                                {% endif %}
                                <input type="hidden" name="coder_id" value="{{ coder.id }}"/>
                                </form>
                            </td>
                        {% endif %}
                        <td>
                            <a href="{% url 'coder_app:edit_coder' coder_id=coder.id %}">
                                <span>Edit</span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td><p>No Available Coders</p></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

{% if cambrian_coder_data and request.path not in add_coder %}
<h3>Cambrian Coders</h3>
<div class="table-responsive">
    <table class="table table-bordered table-hovered table-striped tablesorter">
        <thead>
            <tr>
                <th class="header">First Name</th>
                <th class="header">Last Name</th>
                <th class="header">Username</th>
                <th class="header">Accuracy</th>
                <th class="header">Add/Remove Coder</th>
{#                <th class="header">Edit Coder Details</th>#}
            </tr>
        </thead>
        <tbody>
            {% for coder in cambrian_coder_data %}
            <tr>
                <td>{{ coder.first_name }}</td>
                <td>{{ coder.last_name }}</td>
                <td>{{ coder.username }}</td>
                <td>{{ coder.rating }}</td>
                <td style="text-align: center;">
                    {% if coder.assigned %}
                        <button class="btn btn-warning btn-xs">Remove</button>
                    {% else %}
                        <button class="btn btn-success btn-xs">Add</button>
                    {% endif %}
                </td>
{#                <td>#}
{#                    <a href="{% url 'coder_app:edit_coder' coder_id=coder.id %}">#}
{#                        <span>Edit</span>#}
{#                    </a>#}
{#                </td>#}
            </tr>
                {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}