{% extends "coder_app/base.html" %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <ul class="pager pager-top-left">
        {% if  source == 'project' %}
            <li class="previous back-button-updates"><a href="{% url 'coder_app:edit_project_variables' project_data.id %}"><span aria-hidden="true">&larr;</span> Back to Assign Variables</a></li>
        {% elif source == 'variable_library' %}
            <li class="previous back-button-updates"><a href="{% url 'coder_app:edit_variables' %}"><span aria-hidden="true">&larr;</span> Back to Variable Library</a></li>
        {% endif %}
    </ul>
    <br/>

    {% include 'coder_app/nav_tabs.html' %}

    <ol class="breadcrumb breadcrumb-top-left" style="margin-top: 2%;">
        {% if source == 'project' %}
        <li><a href="#">Projects</a></li>
        <li><a href="#">Assigned Variables</a></li>
        {% elif source == 'variable_library' %}
        <li><a href="#">Variable Library</a></li>
        {% endif %}
        <li><a href="#">Edit Variable</a></li>
    </ol>

    {% if source == 'project' %}
        {% include 'coder_app/edit_project_tabs.html' %}
    {% endif %}

    <h3>Edit Variable "{{ variable_data.name }}"</h3>

    <form action={% url 'coder_app:edit_variable' variable_id=variable_data.id %} method="post">
        {% csrf_token %}
        <input class='btn btn-success' type="submit" name="submit_variable" value="Save Variable"/><br />
        <input style="display:none;" name="variable_id" value="{{ variable_data.id }}" />
        <input
                style="display:none;"
                name="project_id"
                {% if project_data %}
                value="{{ project_data.id }}"
                {% endif %} />

        <div class="row" style="margin-top: 1%;">
        <div class="col-md-12">
                <div class="col-md-4">
        <label for="project-name">Variable Name</label>
        <input class="form-control" type="input" name="variable-name" value='{{ variable_data.name }}' /> <br />
        <label for="variable-description">Description</label>
        <textarea class="form-control" name="variable-description">{{ variable_data.description }}</textarea> <br />
        <label for="variable-instructions">Instructions</label>
        <textarea class="form-control" name="variable-instructions">{{ variable_data.instructions }}</textarea> <br />
        <label>Answer Style</label> <br />
        {% if variable_data.is_freeform %}
            <label class="radio-inline">
                <input type="radio" name="variable_answer_option" value="multiple_choice">Multiple Choice</label>
            <label class="radio-inline">
                <input type="radio" name="variable_answer_option" value="freeform" checked="checked">Freeform</label> <br />
            <div class="input-group options-wrapper">
            </div>
        {% elif variable_data.is_multiple_choice %}
            <label class="radio-inline">
                <input type="radio" name="variable_answer_option" value="multiple_choice" checked="checked">Multiple Choice</label>
            <label class="radio-inline">
                <input type="radio" name="variable_answer_option" value="freeform">Freeform</label> <br />

            <div class="input-group options-wrapper">
                {% for choice in choice_data %}
                    <div class="choice-input-wrapper">
                        <span class="glyphicon glyphicon-minus remove-choice"></span>
                        <input
                            style="float: left;"
                            class="form-control input__answer-style"
                            type="text"
                            value="{{ choice.value }}"
                            name="{{ choice.choice_name }}"
                        />
                    </div>
                {% endfor %}
                <div class="choice-input-wrapper">
                    <span class="glyphicon glyphicon-plus add-choice"></span>
                </div>
            </div>
        {% endif %}
            </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="ui-widget">
                <label for="variable-tag">Add Variable Tag</label>
                <div style="display: flex;">
                    <input id='by_tag' class="form-control input__tag" type="input" name="variable-tag" />
                    <button class="btn__tag--add">Add</button>
                </div>
            </div>
            <div style="text-align: center; margin-top: 5%; margin-bottom: 2%;">
                <span class="glyphicon glyphicon-arrow-down"></span>
            </div>
            <label for="tags-to-remove[]">Current Variable Tags</label>
            <select
                    multiple
                    class="tag-container form-control"
                    style="border: 1px solid grey; height: 20vh; overflow: scroll;">
                {% for project_tag in project_tags %}
                    <option
                        class="project-tag"
                        style="pointer-events: none; background-color: #74b9ff; color: black;">
                        {{ project_tag.name }}
                    </option>
                {% endfor %}
                {% for tag in tag_data %}
                    <option class="tag-option" value="{{ tag.id }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
            <select class="hidden-tag-container" style="display: none;" multiple name="variable-tags[]"></select>
            <br />
            <button class="btn btn-danger btn__remove-tag">Remove Selected Tags</button>
        </div>
            </div>
    </div>
                </form>

    <style>
        .remove-choice {
            color: red;
            font-size:1.5em;
        }

        .add-choice {
            color: #5cb85c;
            font-size:1.1em;
            margin-left: 4.5px;
        }

        .options-wrapper {
            padding-top: 3%;
            width: 50%;
            height: 35vh;
        }

        .choice-input-wrapper {
            display: flex;
            margin-bottom: 2%;
        }

        .input__tag {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .btn__tag--add {
            border-radius: 4px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }

        .btn__tag--add:hover {
            background-color: #e6e6e6;
        }
    </style>


    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'token_injector.js' %}"></script>
    <script src="{%  static 'freeformToggleGlyphicons.js' %}"></script>

    <script>
        let tagIds = [];
        let tagsArray = [];
        let projectTagsArray = [];
        let projectTagIds = [];
        let variableId = $('input[name="variable_id"]').val();
        let url = '/coder_project/tag_to_variable/' + variableId;

        const tagContainer = $('.tag-container');
        const hiddenTagContainer = $('.hidden-tag-container');
        const createTagButton = $('#create-tag');

        function getTags() {
            $('.tag-option').each((index, tag) => {
                const tagNodeId = parseInt($(tag).attr('value'));
                const tagNodeName = $(tag).text();

                if ( $.inArray(tagNodeId, tagIds) < 0 ) {
                    const tagData = {
                        'id': tagNodeId,
                        'name': tagNodeName
                    }

                    tagIds.push(tagNodeId);
                    tagsArray.unshift(tagData);
                }
            });
           renderFilterContainer(tagsArray, hiddenTagContainer, 'hidden');
        }

        function getProjectTags() {
            $('.project-tag').each((index, tag) => {
                const tagNodeId = parseInt( $( tag ).attr('value') );
                const tagNodeName = $( tag ).text();

                if ( $.inArray(tagNodeId, projectTagIds) < 0 ) {
                    const tagData = {
                        'id': tagNodeId,
                        'name': tagNodeName
                    }

                    projectTagIds.push(tagNodeId);
                    projectTagsArray.push(tagData);
                }
            });
        }

        function renderProjectTags(array, container) {
            array.forEach(itemData => {
                let tagNode =
                    $(`<option style="pointer-events: none; background-color: #74b9ff; color: black;" value='${itemData.id}' class="project-tag"><span>${itemData.name}</span></option>`);
                $(container).prepend(tagNode);
            });
        }

        $('#by_tag').autocomplete({
           source: "/coder_project/get_tag_names",
            select: function (event, ui) {
               let tagId;

               if ($.inArray(ui.item.id, tagIds) < 0) {
                   tagId = ui.item.id;
                   const tagData = {
                       'id': tagId,
                       'name': ui.item.label
                   }
                   tagIds.push(tagId);
                   tagsArray.unshift(tagData);
                   renderFilterContainer(tagsArray, tagContainer, 'select');
                   renderFilterContainer(tagsArray, hiddenTagContainer, 'hidden');
                   renderProjectTags(projectTagsArray, tagContainer);
               };

               $('#by_tag').val('');
               return false;
            },
           minLength: 2
        });

        function renderFilterContainer(array, container, type) {
            $(container).empty();

            switch (type) {
                case 'keyword':
                    array.forEach(itemData => {
                    let variableNode =
                        $(`<span name='${itemData.name}'>${itemData.name}<span class='badge keyword-remove'>X</span><br/></span>`);
                        $(container).append(variableNode);
                    });
                    addKeywordHandler();
                    break;

                case 'tag':
                    array.forEach(itemData => {
                        let variableNode =
                        $(`<span class="tag--id" name='${itemData.id}'>${itemData.name}<span class='badge tag-remove'>
                                <span class="glyphicon glyphicon-remove"></span>
                            </span><br/></span>`);
                        $(container).append(variableNode);
                    });
                    addTagHandler();
                    break;

                case 'variable':
                    array.forEach(itemData => {
                        let variableNode = $(`<span name='${itemData.id}'>${itemData.name}<br/></span>`);
                        $(container).append(variableNode);
                    });
                    addVariableHandler();
                    break;

                case 'project':
                    array.forEach(itemData => {
                        let variableNode = $(`<span name='${itemData.id}'>${itemData.name}<br/></span>`);
                        $(container).append(variableNode);
                    });
                    addProjectVariablesHandler();
                    break;

                case 'select':
                array.forEach(itemData => {
                    let variableNode =
                        $(`<option class="tag-option" value='${itemData.id}'><span>${itemData.name}</span></option>`);
                    $(container).append(variableNode);
                });
                break;

                case 'hidden':
                array.forEach(itemData => {
                    let variableNode =
                        $(`<option class="tag-option-hidden" selected='selected' value='${itemData.id}'><span>${itemData.name}</span></option>`);
                    $(container).append(variableNode);
                });
                break;
            }
        }

        function removeTagHandler() {
            $('.btn__remove-tag').click(e => {
                e.preventDefault();
                const tagOption = $('.tag-option');
                $(tagOption).each((index, tag) => {
                    if ( $(tag).css('color') == 'rgb(0, 0, 0)' ) {
                        const nodeValue = $(tag).attr('value');

                        $(tagsArray).each((index, tag) => {
                            if (tag.id == nodeValue) {
                                tagsArray.splice(index, 1);
                            }
                        });

                        let indexOfValue = $.inArray(parseInt(nodeValue), tagIds);
                        if (indexOfValue >= 0) {
                            tagIds.splice(indexOfValue, 1);
                        }

                    };
                });
                renderFilterContainer(tagsArray, hiddenTagContainer, 'hidden');
                renderFilterContainer(tagsArray, tagContainer, 'select');
                renderProjectTags(projectTagsArray, tagContainer);
            });
        }

        function addTagButtonHandler() {
            $('.btn__tag--add').click(e => {
                e.preventDefault();
                const tagValue = $('#by_tag').val()

                $.ajax({
                    url: '/coder_project/get_tag_names',
                    type: 'post',
                    data: {
                        'tag_action': 'by_add_button',
                        'tag_name': tagValue
                    },
                    success: function(json) {
                       let tagId;
                       if ($.inArray(json.id, tagIds) < 0) {
                           tagId = json.id;
                           const tagData = {
                               'id': tagId,
                               'name': json.name
                           }
                           tagIds.push(tagId);
                           tagsArray.unshift(tagData);

                           renderFilterContainer(tagsArray, hiddenTagContainer, 'hidden');
                           renderFilterContainer(tagsArray, tagContainer, 'select');
                           renderProjectTags(projectTagsArray, tagContainer);
                       };

                       $('#by_tag').val('');
                    },
                    error: function() {}
                });
            });
        }

        function windowInit() {
            getTags();
            getProjectTags();
            removeTagHandler();
            addChoiceHandler();
            removeChoiceHandler();
            addTagButtonHandler();
        }

        window.onload = windowInit();
    </script>

{% endblock %}