{% url 'coder_app:edit_project_coders' project_data.id as edit_project_coders %}
{% url 'coder_app:edit_project_mentions' project_data.id as edit_project_mentions %}
{% url 'coder_app:edit_project_variables' project_data.id as edit_project_variables %}
{% url 'coder_app:submit_new_variable' project_data.id as submit_new_variable %}

<div class="row" style="float: left; margin-left: -.25%;">
    <div class="btn-group filter-toggle" style="margin-left: -1.5%; display: flex;">
        <div>
            <form action={% url 'coder_app:edit_project' project_data.id %} method="post">
                {% csrf_token %}
                <input
                    class="btn btn-default
                    {% if project_edit_view == 'project_details' %}
                        filter-toggle-selected
                    {% endif %}
                    "
                    type="submit"
                    name="project-details-view-button"
                    value="Project Details" />
                <input style="display: none;" name="project_details_view" value="{{ variable.id }}" />
            </form>
        </div>
        <div>
            <form action={% url 'coder_app:edit_project_variables' project_data.id %} method="post">
                {% csrf_token %}
                <input
                    class="btn btn-default
                    {% if request.path == edit_project_variables or 'variable' in request.path %}
                        filter-toggle-selected
                    {% endif %}
                    "
                    type="submit"
                    name="select-variable-view-button"
                    value="Assign Variables" />
            </form>
        </div>
        <div>
            <form action={% url 'coder_app:edit_project_mentions' project_data.id %} method="post">
                {% csrf_token %}
                <input
                    class="btn btn-default
                    {% if request.path == edit_project_mentions  %}
                        filter-toggle-selected
                    {% endif %}
                    "
                    type="submit"
                    name="select-mention-view-button"
                    value="Mentions" />
            </form>
        </div>
        <div>
            <form action="{% url 'coder_app:edit_project_coders' project_data.id %}" method="post">
                {% csrf_token %}
                <input
                    class="btn btn-default
                    {% if request.path == edit_project_coders %}
                        filter-toggle-selected
                    {% endif %}
                    "
                    type="submit"
                    value="Assign Coders" />
            </form>
        </div>
    </div>
</div>
<div style="clear: both;"></div>