{% extends "coder_app/base.html" %}

{% block content %}

    {% url 'coder_app:submit_new_variable' as variable_url %}
    {% url 'coder_app:add_coder' as coder_url %}
{% include 'coder_app/home_tab.html' %}
<h3>Edit Project</h3>
    <form action={% url 'coder_app:edit_project' project_id=id %} class="input-group" method="post">
        {% csrf_token %}
        <label for="project-name">Project Name</label>
        <input class="input-group" type="input" name="project-name" value='{{ project_data.name }}' /> <br />
        <label for="project-rate">Rate</label>
        <input class="input-group" type="input" name="project-rate" value={{ project_data.rate }} /> <br />
        <input class='btn btn-primary' type="submit" value="Submit"/>
    </form>

    <hr />
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <form action={% url 'coder_app:edit_project' project_id=id %} method="post">
                    {% csrf_token %}
                    <input type="submit" name="select-variable-view-button" value="Variables" />
                    <input style="display: none;" name="variable_view" value="{{ variable.id }}" />
                </form>
            </li>
            <li>
                <form action={% url 'coder_app:edit_project' project_id=id %} method="post">
                    {% csrf_token %}
                    <input type="submit" name="select-mention-view-button" value="Mentions" />
                    <input style="display: none;" name="mentions_view" value="{{ variable.id }}" />
                </form>
            </li>
            <li>
                <form action={% url 'coder_app:edit_project' project_id=id %} method="post">
                    {% csrf_token %}
                    <input type="submit" name="assigned-coder-view-button" value="Avail.Coders" />
                    <input style="display: none;" name="available_coder_view" value="{{ variable.id }}" />
                </form>
            </li>
            <li>
                <form action={% url 'coder_app:edit_project' project_id=id %} method="post">
                    {% csrf_token %}
                    <input type="submit" name="select-coder-view-button" value="Assigned Coders" />
                    <input style="display: none;" name="assigned_coder_view" value="{{ variable.id }}" />
                </form>
            </li>
        </ul>
    </div>

        {% if project_edit_view == 'variable' %}
         {% include 'coder_app/variable_table.html' %}
        {% elif project_edit_view == 'coder' %}
            <form action={% url 'coder_app:edit_project' project_id=id %} class="input-group" method="post">
            {% csrf_token %}
                {% include 'coder_app/coder_table.html' %}
                <input style="display: none;" name="project_id" value="{{ id }}" />
                {% if not assigned_or_available %}
                    <input class="btn btn-primary" type="submit" name="add-coders-button" value="Add Coders" />
                {% endif %}
            </form>
        {% elif project_edit_view == 'mention'%}
            {% include 'coder_app/mention_table.html' %}
    {% endif %}
{% endblock %}