{% extends "coder_app/base.html" %}

{% block content %}
    {% include 'coder_app/home_tab.html' %}
    <h3>Edit Variable "{{ variable_data.name }}"</h3>

    <form action={% url 'coder_app:edit_variable' variable_id=variable_data.id project_id=project_id %} class="input-group" method="post">
        {% csrf_token %}
        <input class='btn btn-primary' type="submit" name="submit_variable" value="Submit Variable"/><br />
        <input style="display:none;" name="variable_id" value="{{ variable_data.id }}" />
        <input style="display:none;" name="project_id" value="{{ project_id }}" />

        <div class="row">
        <div class="col-md-12">
        <label for="project-name">Variable Name</label>
        <input class="form-control" type="input" name="variable-name" value='{{ variable_data.name }}' /> <br />
        <label for="variable-description">Description</label>
        <textarea class="form-control" name="variable-description">{{ variable_data.description }}</textarea> <br />
        <label for="variable-instructions">Instructions</label>
        <textarea class="form-control" name="variable-instructions">{{ variable_data.instructions }}</textarea> <br />
        <label>Answer Style</label> <br />
        {% if variable_data.is_freeform %}
            <label class="radio-inline">
                <input type="radio" name="variable_answer_option" value="multiple_choice">Multiple Choice</label>
            <label class="radio-inline">
                <input type="radio" name="variable_answer_option" value="freeform" checked="checked">Freeform</label> <br />
        {% elif variable_data.is_multiple_choice %}
            <label class="radio-inline">
                <input type="radio" name="variable_answer_option" value="multiple_choice" checked="checked">Multiple Choice</label>
            <label class="radio-inline">
                <input type="radio" name="variable_answer_option" value="freeform">Freeform</label> <br />

            <div class="input-group options-wrapper">
                <button>Add Choice</button> <br />
                {% for choice in choice_data %}
                    <label>Choice {{ choice.index }}</label> <br/>
                    <input
                            value="{{ choice.value }}"
                            name="{{ choice.choice_name }}"
                    /> <br/>
                {% endfor %}
            </div>
        {% endif %}
        <label for="variable-tags">Tags</label>
        </div>
        </div>
    </form>

    <form id='add-tag'
          class="input-group col-sm-4"
          method="post"
          action={% url 'coder_app:edit_variable' variable_id=variable_data.id project_id=project_id %}>
        {% csrf_token %}
        <input class="form-control" type="input" name="variable-tag" />
            <span class="input-group-btn">
                <input class='btn btn-default' type='submit' name='add_tag' value="Add Tag" />
            </span>
    </form>
    <br />
     <div class="form-control tag-wrapper" style="width: 35%;">
        {% if tag_data %}
            {% for tag in tag_data %}
                #{{ tag.name }},
            {% endfor %}
         {% else %}
         <p>No tags for this variable</p>
        {% endif %}
     </div>
     <br />

    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="{% static 'token_injector.js' %}"></script>
    <script src="{% static 'tagSubmitHandler.js' %}"></script>
    <script src="{%  static 'freeformToggle.js' %}"></script>

{% endblock %}