{% extends "coder_app/base.html" %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

    {% url 'coder_app:submit_new_variable' as variable_url %}
    {% url 'coder_app:add_coder' as coder_url %}

    {% include 'coder_app/back_button_project.html' %}
    {% include 'coder_app/nav_tabs.html' %}
    {% include 'coder_app/breadcrumb_projects.html' %}
    {% if not project_data.is_active %}
        <div class="row" style="margin-left: -1.5%;">
            <div class="col-md-12">
                <div class="col-md-5">
                    {% include 'coder_app/configuration_progress_component.html' %}
                </div>
                <div class="col-md-7" style="margin-top: -1%;">
                    <h4 style="margin-left: 12.5%;">Copy Configuration from Existing Project</h4>
                    {% include 'coder_app/configure_from_existing_component.html' %}
                </div>
            </div>
        </div>
    {% endif %}

    <hr />
    {% include 'coder_app/edit_project_tabs.html' %}

    <div class="row">
        <div class="col-md-12">
        <form action={% url 'coder_app:edit_project' project_id=id %} method="post">
            <h3>Edit Project Details</h3>

            <input class="input--project-id" style="display: none;" name="project_id" value="{{ id }}" />
                {% csrf_token %}
            <div class="col-md-4">
                <label for="project-name">Project Name</label>
                <input class="form-control input__project-name" type="input" name="project-name" value='{{ project_data.name }}' /> <br />
                <label for="project-rate">Rate per Mention</label>
                <input class="form-control" type="input" name="project-rate" value={{ project_data.rate }} /> <br />
                <label for="projected-cost">Estimated Project Cost</label><br/>
                <span name="projected-cost"><p>{{ projected_project_cost }}</p></span>
                <label for="project-introduction">Project Introduction</label>
                <textarea style="height: 30vh;" class="form-control" name="project-introduction">{{ project_data.metadata }}</textarea><br/>
                <input class='btn btn-success btn__save-changes' type="submit" name="save_project_changes" value="Save Changes"/>
            </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="ui-widget">
                <label for="project-default-tags">Add Project Tags</label>
                <div style="display: flex;">
                    <input id="by_tag" type="text" class="form-control input__tag" name="project-default-tags"/>
                    <button class="btn__tag--add">Add</button>
                </div>
            </div>
            <div style="text-align: center; margin-top: 5%; margin-bottom: 2%;">
                <span class="glyphicon glyphicon-arrow-down"></span>
            </div>
{#            <form action="{% url 'coder_app:edit_project' project_data.id %}" method="POST">#}
{#            {% csrf_token %}#}
            <select style="display: none;" class="tag--container__hidden" multiple name="project_tags[]">
                {% for tag in tag_data %}
                    <option class="hidden-option" value="{{ tag.id }}"><span>{{ tag.name }}</span></option>
                {% endfor %}
            </select>
            <input class="input__project-tag--hidden" type="hidden" name="hidden_project_tag_value" value="" />
            <input class="input__project-tag-id--hidden" type="hidden" name="hidden_project_tag_id" value="" />
            <label for="project_tags">Current Project Tags</label>
            <select
                    class='form-control tag--container'
                    multiple
                    name="project_tags"
                    style="width: 100%; border: 1px solid grey; height: 20vh; overflow: scroll; margin-bottom: 2%;">
                {% if unique_project_tag %}
                    <option
                        class="unique-project-tag"
                        style="pointer-events: none; background-color: #74b9ff; color: black;"
                        value="{{ unique_project_tag.id }}"
                    >
                        {{ unique_project_tag.name }}
                    </option>
                {% endif %}
                {% for tag in tag_data %}
                    <option class="option__tag" value="{{ tag.id }}"><span>{{ tag.name }}</span></option>
                {% endfor %}
            </select>
            <input class="btn btn-danger btn__remove-tag" name="remove-project-tags" type="submit" value="Remove Selected Tags"/>
{#            </form>#}
        </div>
        </div>
    </div>
    </form>

    <style>

        h3 {
            margin-left: 1%;
        }

        .input__tag {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .btn__tag--add {
            border-radius: 4px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }

        .btn__tag--add:hover {
            background-color: #e6e6e6;
        }
    </style>

    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'token_injector.js' %}"></script>
    <script>
        const tagsArray = [];
        const tagIds = [];
        const hiddenTagContainer = $('.tag--container__hidden');
        const tagContainer = $('.tag--container');
        let uniqueProjectTagId = null;
        let projectNameOnInit = null;
        const projectNameInput = $('.input__project-name');
        const saveProjectButton = $('.btn__save-changes');

        function getTags() {
            $('.option__tag').each((index, tag) => {
                const tagNodeId = parseInt($(tag).attr('value'));
                const tagNodeName = $(tag).text();

                if ( $.inArray(tagNodeId, tagIds) < 0 ) {
                    const tagData = {
                        'id': tagNodeId,
                        'name': tagNodeName
                    }

                    tagIds.push(tagNodeId);
                    tagsArray.unshift(tagData);
                }
            });
            renderFilterContainer(tagsArray, hiddenTagContainer, 'hidden');
        }

        function removeTagHandler() {
            $('.btn__remove-tag').click(e => {
                console.log('remove handler')
                e.preventDefault();
                const tagOption = $('.option__tag');
                $(tagOption).each((index, tag) => {
                                            console.log(tag)

                    if ( $(tag).css('color') == 'rgb(0, 0, 0)' ) {
                        const nodeValue = $(tag).attr('value');

                        $(tagsArray).each((index, tag) => {
                            if (tag.id == nodeValue) {
                                tagsArray.splice(index, 1);
                            }
                            if ( tag.id == uniqueProjectTagId ) {
                                tag.name = $(projectNameInput).val().replace(/[\W]+/g, '');
                            }
                        });

                        let indexOfValue = $.inArray(parseInt(nodeValue), tagIds);
                        if (indexOfValue >= 0) {
                            tagIds.splice(indexOfValue, 1);
                        }

                    };
                });
                renderFilterContainer(tagsArray, hiddenTagContainer, 'hidden');
                renderFilterContainer(tagsArray, tagContainer, 'select');

                const uniqueProjectTagName = $('.input__project-tag--hidden').val();
                renderProjectTags([{'id': uniqueProjectTagId, 'name': uniqueProjectTagName}], tagContainer);
            });
        }

        function renderProjectTags(array, container) {
            array.forEach(itemData => {
                let tagNode =
                    $(`<option style="pointer-events: none; background-color: #74b9ff; color: black;" value='${itemData.id}' class="unique-project-tag"><span>${itemData.name}</span></option>`);
                $(container).prepend(tagNode);
            });
        }

        function renderFilterContainer(array, container, type) {
            $(container).empty();

            switch (type) {
                case 'keyword':
                    array.forEach(itemData => {
                    let variableNode =
                        $(`<span name='${itemData.name}'>${itemData.name}<span class='badge keyword-remove'>X</span><br/></span>`);
                        $(container).append(variableNode);
                    });
                    addKeywordHandler();
                    break;

                case 'tag':
                    array.forEach(itemData => {
                        let variableNode =
                        $(`<span name='${itemData.id}'>${itemData.name}<span class='badge tag-remove'>X</span><br/></span>`);
                        $(container).append(variableNode);
                    });
                    break;

                case 'variable':
                    array.forEach(itemData => {
                        let variableNode = $(`<span name='${itemData.id}'>${itemData.name}<br/></span>`);
                        $(container).append(variableNode);
                    });
                    addVariableHandler();
                    break;

                case 'project':
                    array.forEach(itemData => {
                        let variableNode = $(`<span name='${itemData.id}'>${itemData.name}<br/></span>`);
                        $(container).append(variableNode);
                    });
                    addProjectVariablesHandler();
                    break;

                case 'select':
                    array.forEach(itemData => {
                        let variableNode =
                            $(`<option class="option__tag" value='${itemData.id}'><span>${itemData.name}</span></option>`);
                        $(container).append(variableNode);
                    });
                    break;

                case 'hidden':
                array.forEach(itemData => {
                    let variableNode =
                        $(`<option class="hidden-option" selected='selected' value='${itemData.id}'><span>${itemData.name}</span></option>`);
                    $(container).append(variableNode);
                });
                break;
            }
        }

        $('#by_tag').autocomplete({
            source: "/coder_project/get_tag_names",
            select: function(event, ui) {
               let tagId;
               if ( $.inArray(ui.item.id, tagIds) < 0 ) {
                   tagId = ui.item.id;
                   const tagData = {
                       'id': tagId,
                       'name': ui.item.label
                   }
                   tagIds.push(tagId);
                   tagsArray.unshift(tagData);

                   $(tagsArray).each((index, tag) => {
                       if ( tag.id == uniqueProjectTagId ) {
                            tag.name = $(projectNameInput).val().replace(/[\W]+/g, '');
                       }
                   });

                   renderFilterContainer(tagsArray, hiddenTagContainer, 'hidden');
                   renderFilterContainer(tagsArray, tagContainer, 'select');

                   const uniqueProjectTagName = $('.input__project-tag--hidden').val();
                   renderProjectTags([{'id': uniqueProjectTagId, 'name': uniqueProjectTagName}], tagContainer);
               };

               $('#by_tag').val('');
               return false;
            },
            minLength: 2
        });

        function getUniqueProjectTag() {
            let projectNameValue = $(projectNameInput).val();
            projectNameOnInit = projectNameValue;

            uniqueProjectTagId = $('.unique-project-tag').val();
            let uniqueProjectTagName = $('.unique-project-tag').text().replace(/[\W]+/g, '');

            $('.input__project-tag-id--hidden').val(uniqueProjectTagId);
            $('.input__project-tag--hidden').val(uniqueProjectTagName);
        }

        $(projectNameInput).keyup(() => {
            const inputValue = $(projectNameInput).val();
            const warningColor = 'rgb(217, 83, 79)';
            const blankButtonColor = '#7f8c8d';
            const uniqueProjectTagNode = $('.unique-project-tag');

            $.ajax({
                url: '/coder_project/add_project',
                type: 'post',
                data: {
                    'project_name_value': inputValue,
                    'original_project_name': projectNameOnInit
                },
                success: function(json) {
                    console.log(json.project_name_check_unique);
                    const isNameUnique = json.project_name_check_unique;
                    if (!isNameUnique) {
                        $('.input__project-name').css('background-color', warningColor);
                        $(saveProjectButton).css('pointer-events', 'none');
                        $(saveProjectButton).css('background-color', blankButtonColor);
                    } else if ($('.input__project-name').css('background-color') == warningColor) {
                        $('.input__project-name').css('background-color', 'white');
                        $(saveProjectButton).css('pointer-events', 'auto');
                        $(saveProjectButton).css('background-color', '#5cb85c');
                    };

                    let newProjectTagValue = inputValue.replace(/[\W]+/g, '');

                    $(uniqueProjectTagNode).text(newProjectTagValue);
                    $('.input__project-tag--hidden').val(newProjectTagValue);
                },
                error: {}
            });
        });

        function addTagButtonHandler() {
            $('.btn__tag--add').click(e => {
                e.preventDefault();
                const tagValue = $('#by_tag').val()

                $.ajax({
                    url: '/coder_project/get_tag_names',
                    type: 'post',
                    data: {
                        'tag_action': 'by_add_button',
                        'tag_name': tagValue
                    },
                    success: function(json) {
                       let tagId;
                       if ($.inArray(json.id, tagIds) < 0) {
                           tagId = json.id;
                           const tagData = {
                               'id': tagId,
                               'name': json.name
                           }
                           tagIds.push(tagId);
                           tagsArray.unshift(tagData);

                           renderFilterContainer(tagsArray, hiddenTagContainer, 'hidden');
                           renderFilterContainer(tagsArray, tagContainer, 'select');

                           const uniqueProjectTagName = $('.input__project-tag--hidden').val();
                           renderProjectTags([{'id': uniqueProjectTagId, 'name': uniqueProjectTagName}], tagContainer);
                       };

                       $('#by_tag').val('');
                    },
                    error: function() {}
                });
            });
        }

        function editVariableInit() {
            getUniqueProjectTag();
            getTags();
            removeTagHandler();
            addTagButtonHandler();
        }

        window.onload = editVariableInit();
    </script>
{% endblock %}