{% extends "coder_app/base.html" %}

{% block content %}
    {% include 'coder_app/nav_tabs.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

    <h3>Edit Variable "{{ variable_data.name }}"</h3>

    <form action={% url 'coder_app:edit_variable' variable_id=variable_data.id %} method="post">
        {% csrf_token %}
        <input class='btn btn-primary' type="submit" name="submit_variable" value="Submit Variable"/><br />
        <input style="display:none;" name="variable_id" value="{{ variable_data.id }}" />
        <input style="display:none;" name="project_id" value="{{ project_id }}" />

        <div class="row">
        <div class="col-md-12">
                <div class="col-md-4">
        <label for="project-name">Variable Name</label>
        <input class="form-control" type="input" name="variable-name" value='{{ variable_data.name }}' /> <br />
        <label for="variable-description">Description</label>
        <textarea class="form-control" name="variable-description">{{ variable_data.description }}</textarea> <br />
        <label for="variable-instructions">Instructions</label>
        <textarea class="form-control" name="variable-instructions">{{ variable_data.instructions }}</textarea> <br />
        <label>Answer Style</label> <br />
        {% if variable_data.is_freeform %}
            <label class="radio-inline">
                <input type="radio" name="variable_answer_option" value="multiple_choice">Multiple Choice</label>
            <label class="radio-inline">
                <input type="radio" name="variable_answer_option" value="freeform" checked="checked">Freeform</label> <br />
            <div class="input-group options-wrapper">
            </div>
        {% elif variable_data.is_multiple_choice %}
            <label class="radio-inline">
                <input type="radio" name="variable_answer_option" value="multiple_choice" checked="checked">Multiple Choice</label>
            <label class="radio-inline">
                <input type="radio" name="variable_answer_option" value="freeform">Freeform</label> <br />

            <div class="input-group options-wrapper">
{#                <button>Add Choice</button> <br />#}
                {% for choice in choice_data %}
                    <label>Choice {{ choice.index }}</label> <br/>
                    <input
                            value="{{ choice.value }}"
                            name="{{ choice.choice_name }}"
                    /> <br/>
                {% endfor %}
            </div>
        {% endif %}
            </div>
            </form>
    <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="ui-widget">
                <label for="variable-tag">Load or Create Tag</label>
                <input id='by_tag' class="form-control" type="input" name="variable-tag" />
            </div>
            <div>
                <button id='create-tag' class="btn btn-default">Create Tag</button>
            </div>
        </div>
        <div class="col-md-4 input-group">
                <label for="tags-to-remove[]">Current Removable Tags</label>
                <div class='form-control tag-container' name="tags-to-remove[]" style="width: 100%; border: 1px solid grey; height: 20vh; overflow: scroll;">
                    {% for tag in tag_data %}
                        <span class="tag--id" name="{{ tag.id }}">
                            {{ tag.name }}
                            <span class='badge tag-remove'>
                                <span class="glyphicon glyphicon-remove"></span>
                            </span><br/>
                        </span>
                    {% endfor %}
                </div>
        </div>
        </div>
        </div>


    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'token_injector.js' %}"></script>
    <script src="{%  static 'freeformToggle.js' %}"></script>

    <script>
        let tagsArray = [];
        let variableId = $('input[name="variable_id"]').val();
        let url = '/coder_project/tag_to_variable/' + variableId;

        const tagContainer = $('.tag-container');
        const createTagButton = $('#create-tag');

        $('#by_tag').autocomplete({
           source: "/coder_project/get_tag_names",
            select: function (event, ui) {
               let tagId = ui.item.id;

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {
                        'tag_action': 'add_to_variable',
                        'tag_id': tagId
                    },
                    success: function(json) {
                        tagsArray = [];
                        let tagData = json.tag_data;

                        $(tagData).each((index, tag) => {
                            let tagInfo = {
                                'name': tag.name,
                                'id': tag.id
                            };

                            tagsArray.push(tagInfo);
                        });

                        console.log(tagsArray)
                        renderFilterContainer(tagsArray, tagContainer, 'tag');

                        $('#by_tag').val('');
                    },
                    error: function(xhr,errmsg,err) {
                        console.log(err);
                    }
                })
            },
           minLength: 2
        });

        function renderFilterContainer(array, container, type) {
            $(container).empty();

            switch (type) {
                case 'keyword':
                    array.forEach(itemData => {
                    let variableNode =
                        $(`<span name='${itemData.name}'>${itemData.name}<span class='badge keyword-remove'>X</span><br/></span>`);
                        $(container).append(variableNode);
                    });
                    addKeywordHandler();
                    break;

                case 'tag':
                    array.forEach(itemData => {
                        let variableNode =
                        $(`<span class="tag--id" name='${itemData.id}'>${itemData.name}<span class='badge tag-remove'>
                                <span class="glyphicon glyphicon-remove"></span>
                            </span><br/></span>`);
                        $(container).append(variableNode);
                    });
                    addTagHandler();
                    break;

                case 'variable':
                    array.forEach(itemData => {
                        let variableNode = $(`<span name='${itemData.id}'>${itemData.name}<br/></span>`);
                        $(container).append(variableNode);
                    });
                    addVariableHandler();
                    break;

                case 'project':
                    array.forEach(itemData => {
                        let variableNode = $(`<span name='${itemData.id}'>${itemData.name}<br/></span>`);
                        $(container).append(variableNode);
                    });
                    addProjectVariablesHandler();
                    break;
            }
        }

        function addTagHandler() {
            $('.tag-remove').click(e => {
                e.preventDefault();
                let tagId = $(e.currentTarget).parent().attr('name');

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {
                        'tag_id': tagId,
                        'tag_action': 'remove_tag'
                    },
                    success: function(json) {
                        tagsArray = [];
                        let tagData = json.tag_data;
                        $(tagData).each((index, tag) => {
                            let tagInfo = {
                                'id': tag.id,
                                'name': tag.name
                            }
                            tagsArray.push(tagInfo);
                        });
                        renderFilterContainer(tagsArray, tagContainer, 'tag');
                    },
                    error: function() {}
                });
            });
        }

        function addCreateTagButtonHandler() {
            $(createTagButton).click(e => {
                e.preventDefault();
                let tagName = $('#by_tag').val();

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {
                        'tag_action': 'create_tag',
                        'tag_name': tagName
                    },
                    success: function(json) {
                        tagsArray = [];
                        let tagData = json.tag_data;
                        $(tagData).each((index, tag) => {
                            let tagInfo = {
                                'id': tag.id,
                                'name': tag.name
                            }
                            tagsArray.push(tagInfo);
                        });
                        renderFilterContainer(tagsArray, tagContainer, 'tag');
                        $('#by_tag').val('');
                    },
                    error: function() {}
                });
            });
        }

        addTagHandler();
        addCreateTagButtonHandler();
    </script>

{% endblock %}