{% extends 'coder_app/base.html' %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    {% include 'coder_app/nav_tabs.html' %}

    <h3>Edit Tags</h3>

    <form action="{% url 'coder_app:create_tag' %}">
        <input class="btn btn-primary" type="submit" value="Create Tag" />
    </form>

    <div class="row" style="margin-top: 2%;">
        <div class="col-md-4">
            <div class="ui-widget">
                <label for="tag_filter">Filter by Tag</label>
                <input id='by_tag' class="form-control" type="text" name="tag_filter" placeholder="...tagname" />
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label for="filter--container">Selected Filters</label>
            <div class="col-md-12 filter--container tag--container" name="filter--container">
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <button style="float: left;" class="btn btn-default select-all">Select All</button>

            <form action="{% url 'coder_app:homepage' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-default bulk-delete" name="bulk-tag-delete">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>

        </div>
    </div>

    <div class="table-responsive" style="margin-top: 1%;">

    <table class="table table-bordered table-hovered table-striped tablesorter">
        <thead>
        <tr>
            <th class="header">Tag Name</th>
            <th class="header"></th>
        </tr>
        </thead>
        {% if tag_data %}
                <tbody class="tag--table">
                    {% for tag in tag_data %}
                    <tr>
                        <td>
                            <input
                                    style="margin-right: 1%; float: left;"
                                    class="checkbox"
                                    type="checkbox"
                                    name="tag-names[]"
                                    value="{{ tag.id }}" />
                            <span name="{{ tag.id }}" class="tag-name">{{ tag.name }}</span>
                        </td>
                        <td style="width: 15%; text-align: center;">
                            <span class="tag-controls" style="display: flex; justify-content: space-around;">
                                <span name="{{ tag.id }}" class="rename-tag">Rename</span>
                                <span name="{{ tag.id }}" class="glyphicon glyphicon-th-list tag-list--redirect"></span>
                                <span name="{{ tag.id }}" class="glyphicon glyphicon-trash tag-delete"></span>
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
        {% else  %}
            <tbody>
                <tr>
                    <td>There are no current Tags</td>
                </tr>
            </tbody>
        {% endif %}
    </table>
        </form>
</div>

    <style>
        .filter--container {
            border: 1px solid black;
            height: 15vh;
            overflow: scroll;
        }

        .tag-controls span {
            cursor: pointer;
        }

    </style>

     {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'token_injector.js' %}"></script>

    <script>
        const tagContainer = $('.tag--container');
        const tagTable = $('.tag--table');
        const tagsArray = [];
        const globalTagIds = [];

        $('#by_tag').autocomplete({
           source: "/coder_project/get_tag_names",
            select: function (event, ui) {
               let tagId;
               if ($.inArray(ui.item.id, globalTagIds) < 0) {
                   tagId = ui.item.id;
                   globalTagIds.push(tagId);
               }

                $.ajax({
                    url: '/coder_project/filter_tags',
                    type: 'POST',
                    data: {
                        'tag_action': 'filter_tag',
                        'tag_list': JSON.stringify(globalTagIds)
                    },
                    success: function(json) {
                        let tagData = json.tag_data;
                        let filteredTagData = json.filtered_tag_data

                        renderFilterContainer(tagData, tagContainer, 'tag');
                        renderFilterContainer(filteredTagData, tagTable, 'tagTable');

                        $('#by_tag').val('');
                    },
                    error: function(xhr,errmsg,err) {
                        console.log(err);
                    }
                })
            },
           minLength: 2
        });

        $('.select-all').click(e => {
            e.preventDefault();
            $('.checkbox').prop('checked', true);
        });

        $('.rename-tag').click(e => {
            e.preventDefault();
            let tagId = $(e.currentTarget).attr('name');
            let tagNode = $(`.tag-name[name=${tagId}]`);
            let tagNodeParent = $(tagNode).parent();
            let tagName = $(tagNode).text();
            let renameInput = $(`<input class='input-rename' name='${tagId}' value='${tagName}'/>`)
            $(tagNode).remove();
            $(tagNodeParent).append(renameInput);
            addInputHandler();
        });

        function addInputHandler() {
            $('.input-rename').keypress(e => {
                if ( e.which == 13 ) {
                    let tagName = $(e.currentTarget).val();
                    let tagId = $(e.currentTarget).attr('name');
                    let parentNode = $(e.currentTarget).parent();
                    let tagNameNode = $(`<span name='${tagId}' class="tag-name">${tagName}</span>`);

                    $.ajax({
                        url: '/coder_project/edit_tags',
                        type: 'POST',
                        data: {
                          'rename_tag': true,
                          'delete_single_tag': false,
                          'new_tag_name': tagName,
                          'tag_id': tagId
                        },
                        success: function(json) {
                            $(e.currentTarget).remove();
                            $(parentNode).append(tagNameNode);
                        },
                        error: function() {

                        }
                    });
                }
            });
        }

        function addTagRemoveHandler() {
            $('.tag-remove').click(e => {
                e.preventDefault();
                let nodeValue = $(e.target.parentNode).attr('name');
                $(globalTagIds).each((index, tag) => {
                    if (tag == nodeValue) {
                        globalTagIds.splice(index, 1)
                    }
                });

                $.ajax({
                    url: '/coder_project/filter_tags',
                    type: 'POST',
                    data: {
                        'tag_action': 'filter_tag',
                        'tag_list': JSON.stringify(globalTagIds)
                    },
                    success: function(json) {
                        let tagData = json.tag_data;
                        let filteredTagData = json.filtered_tag_data

                        renderFilterContainer(tagData, tagContainer, 'tag');
                        renderFilterContainer(filteredTagData, tagTable, 'tagTable');

                        $('#by_tag').val('');
                    },
                    error: function(xhr,errmsg,err) {
                        console.log(err);
                    }
                })
            });
        }

        function addDeleteHandler() {
            $('.tag-delete').click(e => {
                e.preventDefault();
                let tagId = $(e.currentTarget).attr('name');
                console.log(tagId);

                $.ajax({
                    url: '/coder_project/edit_tags',
                    type: 'POST',
                    data: {
                        'rename_tag': false,
                        'delete_single_tag': true,
                        'tag_id': tagId
                    },
                    success: function(json) {
                        window.location.href = json.redirect_url;
                    },
                    error: function() {},

                });
            });
        }
        addDeleteHandler();
        addTagListHandler();

        function addTagListHandler() {
            $('.tag-list--redirect').click(e => {
                const tagId = $(e.currentTarget).attr('name');

                e.preventDefault();
                $.ajax({
                    url: '/coder_project/edit_tags',
                    type: 'POST',
                    data: {
                        'rename_tag': false,
                        'delete_single_tag': false,
                        'tag_list_redirect': true,
                        'tag_id': tagId
                    },
                    success: function(json) {
                        window.location.href = json.url_redirect;
                    },
                    error: function() {}
                });
            });
        }

        function renderFilterContainer(array, container, type) {
            console.log('render from tags fired')
            $(container).empty();

            switch (type) {
                case 'tagTable':
                    array.forEach(itemData => {
                        let variableNode =
                            $(`
                                <tr>
                                    <td>
                                        <input
                                                style="margin-right: 1%; float: left;"
                                                class="checkbox"
                                                type="checkbox"
                                                name="tag-names[]"
                                                value="${ itemData.id }" />
                                        <span name="${ itemData.id }" class="tag-name">${ itemData.name }</span>
                                    </td>
                                    <td style="width: 15%; text-align: center;">
                                        <span
                                            class="tag-controls" style="display: flex; justify-content: space-around;">
                                            <span
                                                name="${ itemData.id }" class="rename-tag">Rename</span>
                                            <span
                                                name="${ itemData.id }"
                                                class="glyphicon glyphicon-th-list tag-list--redirect"></span>
                                            <span name="${ itemData.id }" class="glyphicon glyphicon-trash tag-delete"></span>
                                        </span>
                                    </td>
                                </tr>
                            `)
                        $(container).append(variableNode);
                    });
                    addDeleteHandler();
                    addTagListHandler();
                    addInputHandler();
                    break;

                case 'keyword':
                    array.forEach(itemData => {
                    let variableNode =
                        $(`<span name='${itemData.name}'>${itemData.name}<span class='badge keyword-remove'>X</span><br/></span>`);
                        $(container).append(variableNode);
                    });
                    addKeywordHandler();
                    break;

                case 'tag':
                    array.forEach(itemData => {
                        let variableNode =
                        $(`<span name='${itemData.id}'>${itemData.name}<span class='badge tag-remove'>X</span><br/></span>`);
                        $(container).append(variableNode);
                    });
                    addTagRemoveHandler();
                    break;

                case 'variable':
                    array.forEach(itemData => {
                        let variableNode = $(`<span name='${itemData.id}'>${itemData.name}<br/></span>`);
                        $(container).append(variableNode);
                    });
                    addVariableHandler();
                    break;

                case 'project':
                    array.forEach(itemData => {
                        let variableNode = $(`<span name='${itemData.id}'>${itemData.name}<br/></span>`);
                        $(container).append(variableNode);
                    });
                    addProjectVariablesHandler();
                    break;
            }
        }

    </script>

{%  endblock %}
