{% extends "coder_app/base.html" %}

{% block content %}

    <ul class="nav nav-tabs" role="tablist">
      <li class='nav-home' role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
      <li class='nav-coders' role="presentation"><a href="#coders" aria-controls="coders" role="tab" data-toggle="tab">Coders</a></li>
      <li role="presentation"><a href="#">Variables</a></li>
    </ul>

    <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        {% include 'coder_app/project_table.html' %}
    </div>
    <div role="tabpanel" class="tab-pane" id="coders">
        {% include 'coder_app/add_coder.html' %}
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>

{% endblock %}

<script>
    $('.nav-home a').click(e => {
        e.preventDefault();
        $(this).tab('show')
    });
    $('.nav-coders a').click(e => {
        e.preventDefault();
        $(this).tab('show')
    });
</script>