{% url 'coder_app:edit_variables' as edit_variables %}
{% url 'coder_app:view_projects' as view_projects %}
{% url 'coder_app:add_coder' as add_coder %}
{% url 'coder_app:edit_tags' as edit_tags %}
{% url 'coder_app:homepage' as homepage %}
{% url 'coder_app:submit_new_project' as submit_new_project %}
{% url 'coder_app:edit_project' project_id as edit_project %}
{% url 'coder_app:create_tag' as create_tag %}

    <ul
      {% if request.path != view_projects and request.path != add_coder and request.path != edit_tags and request.path != edit_variables %}
          style="margin-top: 2.75%;"
      {% endif %}
      class="nav nav-tabs"
      role="tablist">
      <li
               {% if '/edit_project/' in request.path or '/projects' in request.path or 'add_project' in request.path or source == 'project' %}
                   class="nav-project active"
               {% else %}
                   class='nav-project'
               {% endif %}
                    role="presentation">
          <a href="{{ view_projects }}" aria-controls="home" role="tab">Projects</a></li>
      <li
              {% if request.path == add_coder %}
                class='nav-coders active'
              {% else %}
                class='nav-coders'
              {% endif %}
              role="presentation">
          <a href="{{ add_coder }}" aria-controls="coders" role="tab">Coders</a></li>
        <li
                {% if request.path == edit_tags or request.path == create_tag %}
                    class="nav-tags active"
                {% else %}
                    class="nav-tags"
                {% endif %}
                role="presentation">
            <a href="{{ edit_tags }}" aria-controls="tags" role="tab">Tags</a></li>
        <li
            {% if request.path == edit_variables or source == 'variable_library' %}
                class='nav-variables active'
                {% else %}
                class='nav-variables'
            {% endif %}
                role="presentation">
            <a href="{{ edit_variables }}" aria-controls="variables" role="tab" >Variables</a></li>
    </ul>
