<h3>Your Projects</h3>

<form action={% url 'coder_app:submit_new_project' %}>
    <input class="btn btn-primary" type="submit" value="Add Project"/>
</form>
<div class="table-responsive">
    <table class="table table-bordered table-hovered table-striped tablesorter">
        <thead>
        <tr>
            <th class="header">Project Name</th>
            <th class="header">Project Rate</th>
            <th class="header">Dataset</th>
            <th class="header">Contains Adverse Events</th>
            <th class="header">Pause Project</th>
            <th class="header"></th>
            <th class="header"></th>
        </tr>
        </thead>
        {% if project_data %}
                <tbody>
                    {% for project in project_data %}
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.rate }}</td>
                        <td>{{ project.dataset_name }}</td>
                        <td>{{ project.contains_adverse_events }}</td>
                        <td style="text-align: center;">
                            <form  method='post'>
                                {% csrf_token %}
                                <input
                                        type="submit"
                                        name="toggle_freeze_project"
                                        {% if not project.is_frozen %}
                                        class="btn btn-info btn-xs"
                                        value='PAUSE'
                                        {% else %}
                                        class="btn btn-warning btn-xs"
                                        value="UNPAUSE"
                                        {% endif %}
                                />
                                <input style="display:none;" name="project_id" value={{ project.id }} />
                            </form>
                        </td>
                        <td>
                            <a href={% url 'coder_app:edit_project' project_id=project.id %}><span>Edit</span></a>
                        </td>
                        <td>
                            <form action={% url 'coder_app:homepage' %} method='post'>
                                {% csrf_token %}
                                <input
                                        type="submit"
                                        class="btn btn-danger btn-xs"
                                        name="delete_project_button"
                                        value='X' />
                                <input style="display:none;" name="project_id" value={{ project.id }} />
                            </form>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
        {% else  %}
            <tbody>
                <tr>
                    <td>There are no current Projects</td>
                </tr>
            </tbody>
        {% endif %}
    </table>
</div>