{% extends 'coder_app/base.html' %}

{% block content %}
<ul class="pager pager-top-left">
    <li class="previous back-button-updates">
        <a href="{% url 'coder_app:edit_variables' %}"><span aria-hidden="true">&larr;</span> Back to Variable Library</a></li>
</ul>
<br/>
    {% include 'coder_app/nav_tabs.html' %}

    <h3>Review Variable</h3>
    <h3>"{{ variable_data.name }}"</h3>

    <div class="table-responsive">
    <table class="table table-bordered table-hovered table-striped tablesorter">
        <thead>
        <tr>
            <th class="header">Tags in Variable</th>
        </tr>
        </thead>
                <tbody>
                    <tr>
                        <td>
                            {%  for tag in tag_data %}
                                <span>{{ tag.name }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
    </table>
</div>

{% endblock %}