{% extends 'coder_app/base.html' %}

{% block content %}
    {% include 'coder_app/back_button_coder.html' %}
    {% include 'coder_app/nav_tabs.html' %}
    {% include 'coder_app/breadcrumb_coders.html' %}
    <h3>Select Mention to Review</h3>

    <form
        action="{% url 'coder_app:review_variables' coder_data.id project_data.id %}"
        method="POST">
        {% csrf_token %}
        <input
            type="hidden"
            name="completed_variables"
            value="{{ unreviewed_variables_all }}"/>
        <input
            class="btn btn-success"
            type="submit"
            name="submit_review_all"
            value="Review All Mentions"/>
    </form>

    <div class="table-responsive" style="margin-top: 2%;">
        <table class="table table-bordered table-hovered table-striped tablesorter">
            <thead>
            <tr>
                <th class="header">Mention URL</th>
                <th class="header">Variables Completed by {{ coder_data.username }}</th>
                <th class="header">Review Single Variables</th>
                <th class="header">Review All Variables</th>
            </tr>
            </thead>
            {% if mention_data %}
                    <tbody>
                        {% for mention in mention_data %}
                            {% if mention.completed_variables_count > 0 %}
                                <tr>
                                    <td>
                                        {% if mention.media_url %}
                                            {{ mention.media_url }}
                                        {% else %}
                                            {{ mention.media_text }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ mention.completed_variables_count }} out of {{ total_variable_count }}
                                    </td>
                                    <td style="text-align: center;">
                                        <form
                                            action="{% url 'coder_app:select_variable' coder_data.id project_data.id %}"
                                            method="POST">
                                            {% csrf_token %}
                                            <input
                                                type="hidden"
                                                name="completed_variables"
                                                value="{{ mention.completed_variables }}"/>
                                            <input
                                                class="btn btn-success btn-xs"
                                                type="submit"
                                                name="submit_review"
                                                value="Review Single"/>
                                        </form>
                                    </td>
                                    <td style="text-align: center;">
                                        <form
                                            action="{% url 'coder_app:review_variables' coder_data.id project_data.id %}"
                                            method="POST">
                                            {% csrf_token %}
                                            <input
                                                type="hidden"
                                                name="completed_variables"
                                                value="{{ mention.completed_variables }}"/>
                                            <input
                                                class="btn btn-success btn-xs"
                                                type="submit"
                                                name="submit_review_all"
                                                value="Review All"/>
                                        </form>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
            {% else  %}
                <tbody>
                    <tr>
                        <td>There are no completed Mentions for {{ coder_data.username }}</td>
                    </tr>
                </tbody>
            {% endif %}
        </table>
    </div>
{%  endblock %}