{% extends 'coder_app/base.html' %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

    {% include 'coder_app/nav_tabs.html' %}
    {% include 'coder_app/breadcrumb_projects.html' %}
    {% include 'coder_app/edit_project_tabs.html' %}
    <h3>Add Variables from Library</h3>

    <div style="margin-left: 1.5%;">
        <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
            <div class="col-md-4">
                <label for="variable_name_filter">Search by Keyword</label>
                <div style="display: flex;">
                    <input id='by_keyword' class='form-control input__tag' type="text" name="variable_name_filter"  /><br/>
                    <button id='button--add__keyword' class="btn__keyword--add">Add</button>
                </div>
                <div class="ui-widget" style="margin-bottom: 1%;">
                    <label for="tag_filter">Search by Tag</label>
                    <div style="display: flex;">
                        <input id="by_tag" class="form-control input__tag" type="text" name="tag_filter" placeholder="...tagname" />
                        <button class="btn__tag--add">Add</button>
                    </div>
                </div>
                <div class="ui-widget" style="margin-bottom: 1%;">
                    <label for="project_filter">Search by Project</label>
                    <div style="display: flex;">
                        <input id='by_project' class="form-control input__tag" type="text" name="project_filter" placeholder="...project name" />
                        <button class="btn__project--add">Add</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label for="filter--container">Selected Filters</label>
                <div class="col-md-12 filter--container filter--container__variable" name="filter--container">
                </div>
            </div>
        </div>
            <div class="row" style="margin-top: 1%;">
                <div class="col-md-3">
                    <button style="float: left;" class="btn btn-default select-all">Select All</button>

                    <form action="{% url 'coder_app:variable_library' %}" method="post">
                        {% csrf_token %}
                        <input
                                type="submit"
                                style="margin-left: 1%;"
                                class="btn btn-success bulk-add"
                                name="add_variables"
                                value="Add to Project"/>
                </div>
            </div>
    </div>

    <div class="table-responsive" style="margin-top: 1%;">
    <table class="table table-bordered table-hovered table-striped tablesorter">
        <thead>
        <tr>
            <th class="header">Variable Name</th>
        </tr>
        </thead>
        {% if variable_data %}
                <tbody class="variable--table">
                    {% for variable in variable_data %}
                    <tr>
                        <td>
                            <input style="margin-right: 1%; float: left;" class='variable-checkbox' type="checkbox" name="variable_ids[]" value="{{ variable.id }}" />
                            <span class="variable-name">{{ variable.name }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
        {% else  %}
            <tbody>
                <tr>
                    <td>There are no current Variables</td>
                </tr>
            </tbody>
        {% endif %}
    </table>
        <input type="hidden" name="project_id" value="{{ project_data.id }}" />
        </form>
</div>

    <style>
        .tag-control--bulk {
            cursor: pointer;
            margin-right: 3%;
        }

        .variable-controls span {
            cursor: pointer;
        }

        .filter--container {
            border: 1px solid black;
            height: 15vh;
            overflow: scroll;
        }
        .input__tag {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .btn__tag--add, .btn__project--add, .btn__keyword--add {
            border-radius: 4px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }

        .btn__tag--add:hover, .btn__project--add:hover, .btn__keyword--add:hover {
            background-color: #e6e6e6;
        }
    </style>

    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'token_injector.js' %}"></script>

    <script>
        let variableIds = [];
        let tagIds = [];
        let projectIds = [];
        let keywords = [];

        const filterContainer = $('.filter--container__variable');
        const variableTable = $('.variable--table');

        $('#button--add__keyword').click(e => {
            e.preventDefault();
            let keywordValue = $('#by_keyword').val();

            console.log(keywordValue);
            if ( $.inArray( keywordValue, keywords ) < 0 ) {
                keywords.push(keywordValue);
            };

            ajaxVariableFilter();
            $('#by_keyword').val('');
        });

        $('.select-all').click(e => {
            e.preventDefault();
            $('.variable-checkbox').prop('checked', true);
        });

        function addRemoveVariableFilterHandler() {
            $('.filter-remove__variable').click(e => {
                e.preventDefault();

                const node = $(e.currentTarget);
                const nodeId = $(node).parent().attr('name');
                const nodeType = $(node).prev().attr('name');
                const nodeValue = $(node).val();

                let itemIndex;
                switch (nodeType) {
                    case 'tag':
                        itemIndex = $.inArray(nodeId, tagIds);
                        tagIds.splice(itemIndex, 1);
                        break;
                    case 'project':
                        itemIndex = $.inArray(nodeId, projectIds);
                        projectIds.splice(itemIndex, 1);
                        break;
                    case 'variable':
                        itemIndex = $.inArray(nodeValue, keywords);
                        keywords.splice(itemIndex, 1);
                        break;
                }

                ajaxVariableFilter();
            });
        }

        function addVariableListRedirect() {
            $('.variable-list--redirect').click(e => {
                e.preventDefault();
                const variableId = $(e.currentTarget).attr('name');
                console.log(variableId)

                $.ajax({
                    url: '/coder_project/edit_variables',
                    type: 'POST',
                    data: {
                        'variable_action': 'redirect',
                        'variable_id': variableId
                    },
                    success: function(json) {
                        window.location.href = json.redirect_url;
                    },
                    error: function() {}
                });
            });
        }

        function addDeleteHandler() {
            $('.variable-delete').click(e => {
                e.preventDefault();
                let variableId = $(e.currentTarget).attr('name');

                $.ajax({
                    url: '/coder_project/edit_variables',
                    type: 'POST',
                    data: {
                        'variable_action': 'delete_single_variable',
                        'variable_id': variableId
                    },
                    success: function(json) {
                        window.location.href = json.redirect_url;
                    },
                    error: function() {},

                });
            });
        }

        function addEditHandler() {
            $('.edit-variable').click(e => {
                e.preventDefault();
                let variableId = $(e.currentTarget).attr('name');
                console.log('edit', variableId);

                $.ajax({
                    url: '/coder_project/edit_variables',
                    type: 'POST',
                    data: {
                        'variable_action': 'edit_variable',
                        'variable_id': variableId
                    },
                    success: function(json) {
                        window.location.href = json.redirect_url;
                    },
                    error: function() {}
                });
            });
        }

        function addCopyHandler() {
            $('.copy-variable').click(e => {
                e.preventDefault();
                console.log('hit copy')
                let variableId = $(e.currentTarget).attr('name');

                $.ajax({
                    url: '/coder_project/edit_variables',
                    type: 'POST',
                    data: {
                        'variable_action': 'copy_variable',
                        'variable_id': variableId
                    },
                    success: function(json) {
                        window.location.href = json.redirect_url
                    },
                    error: function() {}
                });
            });
        }

        function addBulkAddHandler() {
            $('.tag-control--bulk__add').click(e => {
                e.preventDefault();

                let variablesToAdd = getSelectedVariables();
                let tagName = $('#bulk-tag').val();

                console.log(variablesToAdd, 'this is the vars to add')

                $.ajax({
                    url: '/coder_project/edit_variables/',
                    type: 'POST',
                    data: {
                        'variable_ids': JSON.stringify(variablesToAdd),
                        'tag_name': tagName,
                        'variable_action': 'bulk_add'
                    },
                    success: function(json) {
                        window.location.href = json.redirect_url
                    },
                    error: function() {}
                });
            });

        }

        function addBulkRemoveHandler() {
            $('.tag-control--bulk__remove').click(e => {
                e.preventDefault();

                let tagName = $('#bulk-tag').val();
                let variablesToRemove = getSelectedVariables();

                $.ajax({
                    url: '/coder_project/edit_variables/',
                    type: 'POST',
                    data: {
                        'variable_ids': JSON.stringify(variablesToRemove),
                        'tag_name': tagName,
                        'variable_action': 'bulk_remove'
                    },
                    success: function(json) {
                        window.location.href = json.redirect_url;
                    },
                    error: function() {}
                });
            });
        }

        function getSelectedVariables() {
            let variablesToAdd = [];
            $('.variable-checkbox').each((index, box) => {
                if ($(box).prop('checked')) {
                    let variableId = $(box).val();
                    variablesToAdd.push(variableId);
                }
            });
            return variablesToAdd;
        }

        addEditHandler();
        addCopyHandler();
        addBulkAddHandler();
        addBulkRemoveHandler();
        addDeleteHandler();
        addVariableListRedirect();

{#        $('#bulk-tag').autocomplete({#}
{#            source: "/coder_project/get_tag_names",#}
{#            minLength: 2#}
{#        });#}

        $('#by_project').autocomplete({
           source: "/coder_project/get_project_names",
           select: function (event, ui) {
              let projectId;
              if ($.inArray(ui.item.id, projectIds) < 0) {
                  projectId = ui.item.id;
                  projectIds.push(projectId);
              }
              ajaxVariableFilter();

              $('#by_project').val('');
              return false;
           },
           minLength: 2
        });

        $('#by_tag').autocomplete({
          source: "/coder_project/get_tag_names",
          select: function (event, ui) {
              let tagId;
              if ($.inArray(ui.item.id, tagIds) < 0) {
                  tagId = ui.item.id;
                  tagIds.push(tagId);
              }

              ajaxVariableFilter();
              $('#by_tag').val('');
              return false;
          },
          minLength: 2
        });

        function ajaxVariableFilter() {
            $.ajax({
                url: '/coder_project/filter_variables',
                type: 'POST',
                data: {
                    'variable_keywords': JSON.stringify(keywords),
                    'project_ids': JSON.stringify(projectIds),
                    'tag_ids': JSON.stringify(tagIds),
                    'variable_action': 'filter_variables'
                },
                success: function (json) {
                  let filters = [json.tag_data, json.project_data, json.keyword_data];
                  renderFilterContainer(filters, filterContainer, 'multiFilterVariable');
                  renderFilterContainer(json.filtered_variable_data, variableTable, 'variableTable')
                },
                error: function() {

                }
            });
        }

        function renderFilterContainer(array, container, type) {
            $(container).empty();

            switch (type) {
                case 'multiFilterVariable':
                    array.forEach(filterArray => {
                        filterArray.forEach(filterNode => {
                            let spanNode;

                            if (filterNode.type == 'tag') {
                                spanNode = $('<span style="background-color: pink;" name="tag">TAG ||</span>');
                            } else if (filterNode.type == 'project') {
                                spanNode = $('<span style="background-color: orange;" name="project">PROJECT ||</span>');
                            } else if (filterNode.type == 'variable') {
                                spanNode = $('<span style="background-color: green; color: white;" name="variable">KEYWORD ||</span>');
                            }
                            let variableNode =
                                $(`<span name='${filterNode.id}'>${filterNode.name}<span class='badge filter-remove__variable'>X</span><br/></span>`);
                            $(variableNode).prepend(spanNode);
                            $(container).append(variableNode);
                        });
                    });

                    addRemoveVariableFilterHandler();

                    break;

                case 'variableTable':
                    array.forEach(itemData => {
                        let variableNode =
                            $(`
                                <tr>
                                    <td>
                                        <input
                                            style="margin-right: 1%; float: left;"
                                            class='variable-checkbox'
                                            type="checkbox" name="variable-names[]" value="${ itemData.id }" />
                                        <span class="variable-name">${ itemData.name }</span>
                                    </td>
{#                                    <td style="width: 20%; text-align: center;">#}
{#                                        <span class="variable-controls" style="display: flex; justify-content: space-around;">#}
{#                                            <span name="${ itemData.id }" class="copy-variable">Replicate</span>#}
{#                                            <span name="${ itemData.id }" class="edit-variable">Edit</span>#}
{#                                            <span#}
{#                                                name="${ itemData.id }"#}
{#                                                class="glyphicon glyphicon-th-list variable-list--redirect"></span>#}
{#                                            <span name="${ itemData.id }" class="glyphicon glyphicon-trash variable-delete"></span>#}
{#                                        </span>#}
{#                                    </td>#}
                                </tr>
                            `)
                        $(container).append(variableNode);
                    });
                    addEditHandler();
                    addCopyHandler();
                    addDeleteHandler();
                    addVariableListRedirect();

                    break;

                case 'tagTable':
                    array.forEach(itemData => {
                        let variableNode =
                            $(`
                                <tr>
                                    <td>
                                        <input
                                                style="margin-right: 1%; float: left;"
                                                class="checkbox"
                                                type="checkbox"
                                                name="tag-names[]"
                                                value="${ itemData.id }" />
                                        <span name="${ itemData.id }" class="tag-name">${ itemData.name }</span>
                                    </td>
                                    <td style="width: 15%; text-align: center;">
                                        <span
                                            class="tag-controls" style="display: flex; justify-content: space-around;">
                                            <span
                                                name="${ itemData.id }" class="rename-tag">Rename</span>
                                            <span
                                                name="${ itemData.id }"
                                                class="glyphicon glyphicon-th-list tag-list--redirect"></span>
                                            <span name="${ itemData.id }" class="glyphicon glyphicon-trash tag-delete"></span>
                                        </span>
                                    </td>
                                </tr>
                            `)
                        $(container).append(variableNode);
                    });
                    addDeleteHandler();
                    addTagListHandler();
                    addInputHandler();
                    break;

                case 'keyword':
                    array.forEach(itemData => {
                    let variableNode =
                        $(`<span name='${itemData.name}'>${itemData.name}<span class='badge keyword-remove'>X</span><br/></span>`);
                        $(container).append(variableNode);
                    });
                    addKeywordHandler();
                    break;

                case 'tag':
                    array.forEach(itemData => {
                        let variableNode =
                        $(`<span name='${itemData.id}'>${itemData.name}<span class='badge tag-remove'>X</span><br/></span>`);
                        $(container).append(variableNode);
                    });
                    addTagRemoveHandler();
                    break;

                case 'variable':
                    array.forEach(itemData => {
                        let variableNode = $(`<span name='${itemData.id}'>${itemData.name}<br/></span>`);
                        $(container).append(variableNode);
                    });
                    addVariableHandler();
                    break;

                case 'project':
                    array.forEach(itemData => {
                        let variableNode = $(`<span name='${itemData.id}'>${itemData.name}<br/></span>`);
                        $(container).append(variableNode);
                    });
                    addProjectVariablesHandler();
                    break;
            }
}

        function addTagButtonHandler() {
            $('.btn__tag--add').click(e => {
                e.preventDefault();
                const tagValue = $('#by_tag').val()

                $.ajax({
                    url: '/coder_project/get_tag_names',
                    type: 'post',
                    data: {
                        'tag_action': 'by_add_button',
                        'tag_name': tagValue
                    },
                    success: function(json) {
                       let tagId;
                       if ($.inArray(json.id, tagIds) < 0) {
                           tagId = json.id;
                           tagIds.push(tagId);

                           ajaxVariableFilter();
                       };

                       $('#by_tag').val('');
                    },
                    error: function() {}
                });
            });
        }

        function addProjectButtonHandler() {
            $('.btn__project--add').click(e => {
                e.preventDefault();
                const projectValue = $('#by_project').val()

                $.ajax({
                    url: '/coder_project/get_project_names',
                    type: 'post',
                    data: {
                        'project_action': 'by_add_button',
                        'project_name': projectValue
                    },
                    success: function(json) {
                       let projectId;
                       if ($.inArray(json.id, projectIds) < 0) {
                           projectId = json.id;
                           projectIds.push(projectId);

                           ajaxVariableFilter();
                       };

                       $('#by_project').val('');
                    },
                    error: function() {}
                });
            });
        }

        addTagButtonHandler();
        addProjectButtonHandler();

    </script>

{% endblock %}