{% extends 'coder_app/base.html' %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

    {% include 'coder_app/nav_tabs.html' %}
    <h3>Add Variables from Library</h3>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-5">
                <label for="variable_name_filter">Search by Keyword</label>
                <div class="input-group">
                    <input id='by_name' class='form-control' type="text" name="variable_name_filter"  /><br/>
                    <span class="input-group-btn">
                        <button id='button--add__keyword' class="btn btn-default" type="button">Add</button>
                    </span>
                </div>
                <div class="ui-widget">
                    <label for="tag_filter">Search by Tag</label>
                    <input id='by_tag' class="form-control" type="text" name="tag_filter" placeholder="...tagname" />
                </div>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
                <h4 style="text-align: center;">Keywords</h4>
                <div id="keyword-container" class="col-md-12 filter--container">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-md-12">
        <div class="col-md-5"></div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h4 style="text-align: center;">Selected Tags</h4>
            <div class="col-md-12 filter--container tag--container"></div>
        </div>
    </div>
    </div>

    <div class="row">
    <div class="col-md-5 variable--container__title"><h3>Filtered Variables</h3></div>
        <div class="col-md-1"></div>
        <div class="col-md-5 variable--container__title"><h3 class="variable--container__title-choice">{{ project_data.name }}</h3></div>
    </div>
    <div class="row">
    <div class="col-md-12">
        <div class="col-md-5 variable--container variable--container__filtered">
            {% if variable_data %}
                {% for variable in variable_data %}
                    <span name="{{ variable.id }}">{{ variable.name }}<br/></span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-1 control--container">
            <div class="action--button action--button-library">
                <div class="glyphicon glyphicon-arrow-right">
                </div>
            </div>
            <div class="action--button action--button-back">
                <div class="glyphicon glyphicon-arrow-left">
                </div>
            </div>
            <div class="action--button action--button-library__all">
                <div class="glyphicon glyphicon-forward">
                </div>
            </div>
            <div class="action--button action--button-back__all">
                <div class="glyphicon glyphicon-backward">
                </div>
            </div>
        </div>
        <div class="col-md-5 variable--container variable--container__to-project">
        </div>
    </div>
    </div>
    <div class="row" style="margin-top: 1%;">
        <div class="col-md-5">
        </div>
        <div class="col-md-1" style="text-align: center;">
            <button class="btn btn-success variable--container__submit">Confirm</button>
            <input class="project-id" type="hidden" name="project_id" value="{{ project_data.id }}"/>
        </div>
        <div class="col-md-5">
        </div>
    </div>

    <style>

    .filter--container {
        border: 1px solid black;
        height: 15vh;
        overflow: scroll;
    }

    .variable--container {
        border: 1px solid black;
        height: 30vh;
        overflow: scroll;
    }

    .variable--container__title {
        text-align: center;
    }

    .control--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        height: 30vh;
    }

    .variable--container span:hover {
        background-color: grey;
        cursor: pointer;
    }

    .action--button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 25%;
        text-align: center;
        width: 100%;
        cursor: pointer;
    }

    .action--button:hover {
        background-color: grey;
    }

    .selected {
        background-color: aquamarine;
    }

    .project-selected {
        background-color: cadetblue;
    }

    </style>

    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'token_injector.js' %}"></script>

    <script>
        let variablesToMove = [];
        let variablesToReset = [];
        const variablesToProjectContainer = $('.variable--container__to-project');
        const filteredVariablesContainer = $('.variable--container__filtered');
        const tagContainer = $('.tag--container');
        const keywordContainer = $('#keyword-container');

        const tagsArray = [];
        let keywordArray = [];
        let filteredVariablesArray = [];
        let variablesToProjectArray = [];

        const globalVariableIds = [];
        const globalTagIds = [];
        const globalKeywords = [];

        const projectId = $('.project-id').val();

        function loadFilteredVariables() {
            const allVariables = $('.variable--container__filtered span');
            $(allVariables).each((index, variable) => {
                let id = $(variable).attr('name');
                let name = $(variable).text();
                filteredVariablesArray.push({
                    id,
                    name
                })
            });
        }

        loadFilteredVariables();

        function renderFilterContainer(array, container, type) {
            $(container).empty();

            switch (type) {
                case 'keyword':
                    array.forEach(itemData => {
                    let variableNode =
                        $(`<span name='${itemData.name}'>${itemData.name}<span class='badge keyword-remove'>X</span><br/></span>`);
                        $(container).append(variableNode);
                    });
                    addKeywordHandler();
                    break;

                case 'tag':
                    array.forEach(itemData => {
                        let variableNode =
                        $(`<span name='${itemData.id}'>${itemData.name}<span class='badge tag-remove'>X</span><br/></span>`);
                        $(container).append(variableNode);
                    });
                    addTagHandler();
                    break;

                case 'variable':
                    array.forEach(itemData => {
                        let variableNode = $(`<span name='${itemData.id}'>${itemData.name}<br/></span>`);
                        $(container).append(variableNode);
                    });
                    addVariableHandler();
                    break;

                case 'project':
                    array.forEach(itemData => {
                        let variableNode = $(`<span name='${itemData.id}'>${itemData.name}<br/></span>`);
                        $(container).append(variableNode);
                    });
                    addProjectVariablesHandler();
                    break;
            }
        }

        function addVariableHandler() {
            $('.variable--container__filtered span').click(e => {
                e.preventDefault();
                const variableNode = $(e.currentTarget);
                const variableNodeId = variableNode.attr('name');

                $(variableNode).toggleClass('selected');

                let isInVariablesToMove = false;
                let indexToRemove;

                variablesToMove.forEach((variable, index) => {
                    if (variableNodeId == variable) {
                        isInVariablesToMove = true;
                        indexToRemove = index;
                    }
                });

                if (isInVariablesToMove) {
                    variablesToMove.splice(indexToRemove, 1);
                } else if (!isInVariablesToMove || variablesToMove.length == 0) {
                    variablesToMove.push(variableNodeId);
                }
            });
        }

        function addProjectVariablesHandler() {
            $('.variable--container__to-project span').click(e => {
                e.preventDefault();
                const variableNode = $(e.currentTarget);
                const variableNodeId = variableNode.attr('name');

                $(variableNode).toggleClass('selected');

                let isInVariablesToReset = false;
                let indexToRemove;

                variablesToReset.forEach((variable, index) => {
                    if (variableNodeId == variable) {
                        isInVariablesToReset = true;
                        indexToRemove = index;
                    }
                });

                if (isInVariablesToReset) {
                    variablesToReset.splice(indexToRemove, 1);
                } else if (!isInVariablesToReset || variablesToReset.length == 0) {
                    variablesToReset.push(variableNodeId);
                }
            })
        }

        function addKeywordHandler() {
            $('.keyword-remove').click(e => {
                e.preventDefault();
                let nodeValue = $(e.target.parentNode).attr('name');
                $(keywordArray).each((index, keyword) => {
                    if (keyword.name == nodeValue) {
                        keywordArray.splice(index, 1)
                    }
                });

                let indexOfValue = $.inArray(nodeValue, globalKeywords);
                if (indexOfValue >= 0) {
                    globalKeywords.splice(indexOfValue, 1);
                }

                $.ajax({
                    url: '/coder_project/get_variable_names',
                    type: 'POST',
                    data: {
                        'get_variables': true,
                        'global_tag_ids': JSON.stringify(globalTagIds),
                        'keywords': JSON.stringify(globalKeywords)
                    },
                    success: function(json) {
                        let variableData = JSON.parse(json.variable_data);

                        filteredVariablesArray = [];

                        $(variableData).each((index, variable) => {
                            let variableInfo = {
                                'name': variable.fields.name,
                                'id': variable.pk
                            };
                            filteredVariablesArray.unshift(variableInfo);
                        });

                        renderFilterContainer(filteredVariablesArray, filteredVariablesContainer, 'variable');
                        $('#by_name').val('');
                    },
                    error: function(xhr,errmsg,err) {
                        console.log(err);
                    }
                })
                renderFilterContainer(keywordArray, keywordContainer, 'keyword');
            });
        }

        function addTagHandler() {
            $('.tag-remove').click(e => {
                e.preventDefault();
                let nodeValue = $(e.target.parentNode).attr('name');
                $(tagsArray).each((index, tag) => {
                    if (tag.id == nodeValue) {
                        tagsArray.splice(index, 1)
                    }
                });

                let indexOfValue = $.inArray(parseInt(nodeValue), globalTagIds);
                if (indexOfValue >= 0) {
                    globalTagIds.splice(indexOfValue, 1);
                }

                $.ajax({
                    url: '/coder_project/get_variable_names',
                    type: 'POST',
                    data: {
                        'get_variables': true,
                        'global_tag_ids': JSON.stringify(globalTagIds),
                        'keywords': JSON.stringify(globalKeywords)
                    },
                    success: function(json) {
                        let variableData = JSON.parse(json.variable_data);

                        filteredVariablesArray = [];

                        $(variableData).each((index, variable) => {
                            let variableInfo = {
                                'name': variable.fields.name,
                                'id': variable.pk
                            };
                            filteredVariablesArray.unshift(variableInfo);
                        });

                        renderFilterContainer(filteredVariablesArray, filteredVariablesContainer, 'variable');
                        $('#by_name').val('');
                    },
                    error: function(xhr,errmsg,err) {
                        console.log(err);
                    }
                })
                renderFilterContainer(tagsArray, tagContainer, 'tag');
            });
        }
        addVariableHandler();

        $('.action--button-library').click(e => {
           e.preventDefault();
           variablesToMove.forEach(variableId => {
               let variable = filteredVariablesArray.find(item => item.id == variableId);
               let variableIndex = $.inArray(variable, filteredVariablesArray);
               filteredVariablesArray.splice(variableIndex, 1);
               variablesToProjectArray.push(variable);
           });
            variablesToMove = [];
            renderFilterContainer(filteredVariablesArray, filteredVariablesContainer, 'variable');
            renderFilterContainer(variablesToProjectArray, variablesToProjectContainer, 'project');
        });

        $('.action--button-back').click(e => {
            e.preventDefault();
            variablesToReset.forEach(variableId => {
                let variable = variablesToProjectArray.find(item => item.id == variableId);
                let variableIndex = $.inArray(variable, variablesToProjectArray);
                variablesToProjectArray.splice(variableIndex, 1);
                filteredVariablesArray.push(variable);
            });
            variablesToReset = [];
            renderFilterContainer(filteredVariablesArray, filteredVariablesContainer, 'variable');
            renderFilterContainer(variablesToProjectArray, variablesToProjectContainer, 'project');
        });

        $('.action--button-library__all').click(e => {
            e.preventDefault();
            let concatArray = $.unique(variablesToProjectArray.concat(filteredVariablesArray));
            variablesToProjectArray = concatArray;
            filteredVariablesArray = [];
            renderFilterContainer(filteredVariablesArray, filteredVariablesContainer, 'variable');
            renderFilterContainer(variablesToProjectArray, variablesToProjectContainer, 'project');
        });

        $('.action--button-back__all').click(e => {
            e.preventDefault();
            let concatArray = $.unique(filteredVariablesArray.concat(variablesToProjectArray));
            filteredVariablesArray = concatArray;
            variablesToProjectArray = [];
            renderFilterContainer(filteredVariablesArray, filteredVariablesContainer, 'variable');
            renderFilterContainer(variablesToProjectArray, variablesToProjectContainer, 'project');
        });

        $('.variable--container__submit').click(e => {
            e.preventDefault();
            $.ajax({
                url: '/coder_project/variable_library',
                type: 'POST',
                data: {
                    'variables_to_add': JSON.stringify(variablesToProjectArray),
                    'project_id': projectId,
                    'add_variables': true
                },

                success: function(json) {
                    window.location.href = json.redirect_url;
                },
                error: function(xhr,errmsg,err) {
                    console.log(xhr,errmsg,err);
                }
            });
        });

        $('#by_tag').autocomplete({
           source: "/coder_project/get_tag_names",
            select: function (event, ui) {
               let tagId;
               if ($.inArray(ui.item.id, globalTagIds) < 0) {
                   tagId = ui.item.id;
                   globalTagIds.push(tagId);
               }

                $.ajax({
                    url: '/coder_project/get_tag_names',
                    type: 'POST',
                    data: {
                        'add_to_filter': 'add_tag',
                        'tag_id_to_add': tagId,
                        'global_tag_ids': JSON.stringify(globalTagIds),
                        'keywords': JSON.stringify(globalKeywords)
                    },
                    success: function(json) {
                        let tagData = json.tag_data;
                        let variableData = json.variable_data;

                        let tag = {
                            'name': tagData.name,
                            'id': tagData.id
                        };

                        tagsArray.push(tag);

                        renderFilterContainer(tagsArray, tagContainer, 'tag');
                        filteredVariablesArray = [];

                        $(variableData).each((index, variable) => {
                            let variableInfo = {
                                'name': variable.name,
                                'id': variable.id
                            };
                            filteredVariablesArray.unshift(variableInfo);
                        });

                        renderFilterContainer(filteredVariablesArray, filteredVariablesContainer, 'variable');
                        $('#by_tag').val('');
                    },
                    error: function(xhr,errmsg,err) {
                        console.log(err);
                    }
                })
            },
           minLength: 2
        });

        $('#button--add__keyword').click(e => {
            e.preventDefault();

            let keywordValue = $('#by_name').val();

            if ($.inArray(keywordValue, globalKeywords) < 0) {
                let keyword = {
                    'id': keywordArray.length + 1,
                    'name': keywordValue
                };

                globalKeywords.push(keywordValue);
                keywordArray.unshift(keyword);
            };

            $('#by_name').val('');
            renderFilterContainer(keywordArray, keywordContainer, 'keyword');

            $.ajax({
                url: '/coder_project/get_tag_names',
                type: 'POST',
                data: {
                    'add_to_filter': 'add_keyword',
                    'global_tag_ids': JSON.stringify(globalTagIds),
                    'keywords': JSON.stringify(globalKeywords)
                },
                success: function(json) {
                    let variableData = JSON.parse(json.variable_data);

                    filteredVariablesArray = [];

                    $(variableData).each((index, variable) => {
                        let variableInfo = {
                            'name': variable.fields.name,
                            'id': variable.pk
                        };
                        filteredVariablesArray.unshift(variableInfo);
                    });

                    renderFilterContainer(filteredVariablesArray, filteredVariablesContainer, 'variable');
                },
                error: function(xhr,errmsg,err) {
                    console.log(err);
                }
            })

        });

    </script>
{% endblock %}