{% extends "coder_app/base.html" %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    {% load static %}
    {% if source == 'project' %}
        {% include 'coder_app/back_button_project.html' %}
    {% elif source == 'variable_library' %}
        {% include 'coder_app/back_button_variable_library.html' %}
    {% endif %}
    {% include 'coder_app/nav_tabs.html' %}
    <ol class="breadcrumb breadcrumb-top-left" style="margin-top: 2%;">
        {% if project_id %}
            <li><a href="#">Projects</a></li>
            <li><a href="#">Assigned Variables</a></li>
        {% else %}
            <li><a href="#">Variable Library</a></li>
        {% endif %}
            <li><a href="#">Create New Variable</a></li>
    </ol>

    {% if source == 'project' %}
        {% include 'coder_app/edit_project_tabs.html' %}
    {% endif %}
    <h3>Create New Variable</h3>

    <form action={% url 'coder_app:submit_new_variable' %} method="post">
        {% csrf_token %}
        <input style="display:none;" name="project_id" value={{ project_id }} />
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <label for="variable-name">Variable Name</label>
                    <input class="form-control" type="input" name="variable-name" /> <br />
                    <label for="variable-description">Description</label>
                    <textarea class="form-control" name="variable-description"></textarea> <br />
                    <label for="variable-instructions">Instructions</label>
                    <textarea style="height: 15vh;" class="form-control" name="variable-instructions"></textarea> <br />
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <label>Answer Style</label> <br />
                    <label class="radio-inline">
                        <input type="radio" name="variable_answer_option" value="multiple_choice">Multiple Choice</label>
                    <label class="radio-inline">
                        <input type="radio" name="variable_answer_option" value="freeform" checked>Freeform</label> <br />
                    <div class="input-group options-wrapper col-md-3">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 1%; margin-left: .25%;">
            <input class='btn btn-success' type="submit" name="submit_variable" value="Add"/><br />
        </div>
    </form>

    <style>
    .remove-choice {
        color: red;
        font-size:1.5em;
    }

    .add-choice {
        color: #5cb85c;
        font-size:1.1em;
        margin-left: 4.5px;
    }

    .options-wrapper {
        padding-top: 3%;
        width: 50%;
        height: 35vh;
    }

    .choice-input-wrapper {
        display: flex;
        margin-bottom: 2%;
    }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'token_injector.js' %}"></script>
    <script src="{% static 'freeformToggleGlyphicons.js' %}"></script>


{#    <script>#}
{##}
{#        const tagsArray = [];#}
{#        const globalTagIds = [];#}
{#        const tagContainer = $('.tag-wrapper');#}
{#        const tagIdContainer = $('#tag-ids-container');#}
{#        const createTagButton = $('#create-tag');#}
{##}
{#        $(createTagButton).click(e => {#}
{#            e.preventDefault();#}
{#            let tagName = $('#by_tag').val();#}
{#            $.ajax({#}
{#                url: '/coder_project/variables',#}
{#                type: 'POST',#}
{#                data: {#}
{#                    'tag_name': tagName,#}
{#                    'add_tag': true#}
{#                },#}
{#                success: function(json) {#}
{#                    let tagData = json.tag_data;#}
{##}
{#                    if ($.inArray(tagData.id, globalTagIds) < 0) {#}
{#                        tagsArray.unshift(tagData);#}
{#                        globalTagIds.push(tagData.id);#}
{#                    }#}
{##}
{#                    renderContainer(tagsArray, tagContainer);#}
{#                    $('#by_tag').val('');#}
{#                },#}
{#                error: function(xhr,errmsg,err) {#}
{#                    console.log(err);#}
{#                }#}
{#            });#}
{#        });#}
{##}
{#        function renderContainer(array, container) {#}
{#            $(tagIdContainer).empty();#}
{#            $(container).empty();#}
{##}
{#            array.forEach(itemData => {#}
{#                let tagNode = $(`<option value='${itemData.id}' selected='selected'></option>`);#}
{#                $(tagIdContainer).append(tagNode);#}
{##}
{#                let variableNode = $(`<span name='${itemData.id}'>${itemData.name}</br></span>`);#}
{#                $(container).append(variableNode);#}
{#            });#}
{#        };#}
{##}
{#        $('#by_tag').autocomplete({#}
{#           source: "/coder_project/get_tag_names",#}
{#            select: function (event, ui) {#}
{#                $.ajax({#}
{#                    url: '/coder_project/get_tag_names',#}
{#                    type: 'POST',#}
{#                    data: {#}
{#                        'tag_id_to_add_to_variable': ui.item.id#}
{#                    },#}
{#                    success: function(json) {#}
{#                        let tagData = json.tag_data;#}
{##}
{#                        let tag = {#}
{#                            'name': tagData.name,#}
{#                            'id': tagData.id#}
{#                        };#}
{##}
{#                        if ($.inArray(tagData.id, globalTagIds) < 0) {#}
{#                            tagsArray.unshift(tag);#}
{#                            globalTagIds.push(tagData.id);#}
{#                        }#}
{##}
{#                        renderContainer(tagsArray, tagContainer);#}
{#                        $('#by_tag').val('');#}
{#                    },#}
{#                    error: function(xhr,errmsg,err) {#}
{#                        console.log(err);#}
{#                    }#}
{#                })#}
{#            },#}
{#           minLength: 2#}
{#        });#}
{#    </script>#}
{% endblock %}