
        <h3>Media</h3>
    <iframe height="400px" width="60%"
            src="https://api.instagram.com/oembed?url=http://www.instagram.com/p/BbhtIZ6Hl5L/"
    ></iframe>
        <div>
            <p style="float: left;">Click&nbsp;</p>
            <a href="http://www.instagram.com/p/BbhtIZ6Hl5L/" target="_blank"><span style="float: left; text-decoration: underline;">Here</span></a>
            <p>&nbsp;if media does not load.</p></div>

{#        <h3>Media</h3>#}
{#    <iframe height="400px" width="60%"#}
{#            src="https://publish.twitter.com/oembed?url=https://twitter.com/History_Pics/status/930913057689296896"#}
{#    ></iframe>#}
{#        <div>#}
{#            <p style="float: left;">Click&nbsp;</p>#}
{#            <a href="https://twitter.com/History_Pics/status/930913057689296896" target="_blank"><span style="float: left; text-decoration: underline;">Here</span></a>#}
{#            <p>&nbsp;if media does not load.</p></div>#}
