{% extends 'coder_app/base.html' %}

{% url 'coder_view:coder_project_answering' coder_id project_id variable_id as cv_variable_url %}
{% url 'coder_view:coder_project_answering' coder_id project_id next_variable_id as next_variable_url %}

{% block content %}
    <h2>{{ variable_data.name }}</h2>

    <div>
    <h3>Instructions</h3>
    <span><p>{{ variable_data.instructions }}</p></span>
    </div>
    <br />
    <div>

    {% include 'coder_view/cv_iframe_template.html' %}

    <h3>Description</h3>
    <span><p>{{ variable_data.description }}</p></span>
    </div>
    <br />

    <h3>Complete the Prompt</h3>
    <form action="{{ next_variable_url }}" method="post">
        {% csrf_token %}
        {% if variable_data.is_freeform %}
        <textarea class='form-control' name='variable-freeform' placeholder="Answer here.."></textarea>
            {% elif variable_data.is_multiple_choice %}
                {% if variable_data.multiple_choice_option_one %}
                    <label>Choice 1</label><br/>
                    <input name="variable-multiple" type="radio" value={{ variable_data.multiple_choice_option_one }}>
                    {{ variable_data.multiple_choice_option_one }}</input>
                    <br/>
                {% endif %}
                {% if variable_data.multiple_choice_option_two %}
                    <label>Choice 2</label><br/>
                    <input name="variable-multiple" type="radio" value={{ variable_data.multiple_choice_option_two }}>
                    {{ variable_data.multiple_choice_option_two }}</input>
                    <br/>
                {% endif %}
                {% if variable_data.multiple_choice_option_three %}
                    <label>Choice 3</label><br/>
                    <input name="variable-multiple" type="radio" value={{ variable_data.multiple_choice_option_three }}>
                    {{ variable_data.multiple_choice_option_three }}</input>
                    <br/>
                {% endif %}
                {% if variable_data.multiple_choice_option_four %}
                    <label>Choice 4</label><br/>
                    <input name="variable-multiple" type="radio" value={{ variable_data.multiple_choice_option_four }}>
                    {{ variable_data.multiple_choice_option_four }}</input>
                    <br/>
                {% endif %}
                {% if variable_data.multiple_choice_option_five %}
                    <label>Choice 5</label><br/>
                    <input name="variable-multiple" type="radio" value={{ variable_data.multiple_choice_option_five }}>
                    {{ variable_data.multiple_choice_option_five }}</input>
                    <br/>
                {% endif %}
                {% if variable_data.multiple_choice_option_six %}
                    <label>Choice 6</label><br/>
                    <input name="variable-multiple" type="radio" value={{ variable_data.multiple_choice_option_six }}>
                    {{ variable_data.multiple_choice_option_six }}</input>
                    <br/>
                {% endif %}
                {% if variable_data.multiple_choice_option_seven %}
                    <label>Choice 7</label><br/>
                    <input name="variable-multiple" type="radio" value={{ variable_data.multiple_choice_option_seven }}>
                    {{ variable_data.multiple_choice_option_seven }}</input>
                    <br/>
                {% endif %}
        {% endif %}
        <br/>
        <label for="variable-adverse-effects">Contains Adverse Effects?</label>
        <input type="checkbox" name="variable-adverse-effects" />
        <br/>
        <input class="btn btn-primary" type="submit" name="confirm-variable" value="Confirm and Go to Next Prompt->"/>
    </form>
    <br/>
    <a href="{% url 'coder_view:coder_splash' coder_id %}">
        <button class="btn btn-primary"><-Back to Project Select</button>
    </a>


{% endblock %}