{% extends 'coder_app/base.html' %}

{% block content %}
    <div class="row">
        <h3>Your Projects</h3>
    </div>

    <div class="row" style="position: absolute; left: 10.5%;">
        <div class="btn-group filter-toggle" style="display: flex;">
            <form action={% url 'coder_view:coder_splash' coder_data.id %} method="post">
                {% csrf_token %}
                <input
                    class="btn btn-default {% if filter_view == 'open' %} filter-toggle-selected {% endif %}"
                    type="submit"
                    name="select-variable-view-button"
                    value="Active" />
                <input style="display: none;" name="pending_projects_view" value="{{ coder_data.id }}" />
            </form>
            <form action={% url 'coder_view:coder_splash' coder_data.id %} method="post">
                {% csrf_token %}
                <input
                    class="btn btn-default {% if filter_view == 'completed' %} filter-toggle-selected {% endif %}"
                    type="submit"
                    name="assigned-coder-view-button"
                    value="Closed" />
                <input style="display: none;" name="completed_projects_view" value="{{ coder_data.id }}" />
            </form>
            <form action={% url 'coder_view:coder_splash' coder_data.id %} method="post">
                {% csrf_token %}
                <input
                    class="btn btn-default {% if filter_view == 'all' %} filter-toggle-selected {% endif %}"
                    type="submit"
                    name="select-coder-view-button"
                    value="All" />
                <input style="display: none;" name="all_projects_view" value="{{ coder_data.id }}" />
            </form>
        </div>
    </div>
    <br/>

    <div class="row" style="margin-top: 5%;">
        {% include 'coder_view/cv_project_table_test.html' %}
    </div>


{% endblock %}