{% extends 'coder_app/base.html' %}

{% block content %}
    <h2>Your Projects</h2>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <form action={% url 'coder_view:coder_splash' coder_data.id %} method="post">
                    {% csrf_token %}
                    <input type="submit" name="select-variable-view-button" value="Available" />
                    <input style="display: none;" name="pending_projects_view" value="{{ coder_data.id }}" />
                </form>
            </li>
            <li>
                <form action={% url 'coder_view:coder_splash' coder_data.id %} method="post">
                    {% csrf_token %}
                    <input type="submit" name="assigned-coder-view-button" value="Previous" />
                    <input style="display: none;" name="completed_projects_view" value="{{ coder_data.id }}" />
                </form>
            </li>
            <li>
                <form action={% url 'coder_view:coder_splash' coder_data.id %} method="post">
                    {% csrf_token %}
                    <input type="submit" name="select-coder-view-button" value="All" />
                    <input style="display: none;" name="all_projects_view" value="{{ coder_data.id }}" />
                </form>
            </li>
        </ul>
    </div>
    <br/>
    {% include 'coder_view/cv_project_table.html' %}
{% endblock %}